:root {
    --color-main: var(--color-indigo);
    --color-dark: var(--color-black);
    --color-text: var(--color-blue);
    --color-light: var(--color-white);
    --color-blueGray: var(--color-bluegray);
    --color-darkGray : var(--color-darkGray);
    --color-lightGray : var(--color-lightgray);

    --color-indigo : #00256c;
    --color-black : #000;
    --color-blue : #0064de;
    --color-white : #fff;
    --color-bluegray : #65728a;
    --color-darkgray : #555;
    --color-lightgray : #767676;
}

/* container area */
#container {
    width:100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

/* banner area */
#banner {
    width: 100%;
    min-height: 50rem;
    background: url('../images/main/main-img.jpg')center top no-repeat;
    background-size: cover;
}

/* information area */
.air__information {
    max-width: 128rem;
    min-height: 50rem;
    margin: 0 auto;
    padding: 8rem 0;
    box-sizing: border-box;
}
.air__information > div:first-of-type {
    width: 100%;
    padding: 1.3rem 0;
    box-sizing: border-box;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: var(--color-light);
}
.air__information > div:first-of-type > span {
    position: relative;
    padding-left: 3.3rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: #de001b;
    cursor: pointer;
} 
.air__information > div:first-of-type > span:hover {
    text-decoration: underline;
}
.air__information > div:first-of-type > span::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 4%;
    top: 50%;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    background: url("../images/icon/main_alert.svg")center center no-repeat;
    background-size: cover;
}

/* banner tab area */
.air__reservation_content {
    width: 100%;
}

.tab__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 100%;
}
.tab__content::before {
    position: absolute;
    display: block;
    top: 5.4rem;
    left: 0;
    width: 100%;
    height: 5rem;
    content: "";
    background-color: var(--color-gray);
}
.tab__content > input[type="radio"] {
    display: none;
}
.tab__content > input[type="radio"] + label {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 2rem 0;
    text-align: center;
    background-color: var(--color-blueGray);
    color: var(--color-light);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-size: 1.6rem;
    font-weight:700;
    cursor: pointer;
}
.tab__content > input[type="radio"]:checked + label::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    bottom: -2rem;
    height: 3rem;
    width: 100%;
    background-color: var(--color-light);
    z-index: 2;
}
.tab__content > input[type="radio"] + label:hover {
    text-decoration: underline;
}
.tab__content > input[type="radio"]:checked + label {
    background-color: var(--color-light);
    color: var(--color-black);
    text-decoration: underline;
}


/* tab contents */

.conbox {
    display: none;
    position: absolute;
    left: 0;
    top: 5.5rem;
    width: 100%;
    min-height: 21.34rem;
    padding: 2.2rem 4rem 3.8rem;
    box-sizing: border-box;
    background-color: var(--color-light);
    border-radius: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

/* conbox area */
input[id="tab01"]:checked ~ .con1 {
    display: block;
}
input[id="tab02"]:checked ~ .con2 {
    display: block;
}
input[id="tab03"]:checked ~ .con3 {
    display: block;
}
input[id="tab04"]:checked ~ .con4 {
    display: block;
}

/* con1 contents*/
.reserve__top {
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;
}
.reserve__top > ul {
    display: flex;
    background-color: #fff;
    border: 1px solid #d9dbe1;
    border-radius: 3.2rem;
}
.reserve__top > ul > li {
    min-width: auto;
    padding: 0.8rem 1.5rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.6rem;
}
.reserve__top > ul > li:nth-of-type(1) {
    border-radius: 3.2rem;
    transition: all .2s ease-in;
    background-color: var(--color-indigo);
}
.reserve__top > ul > li > button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
}
.reserve__top > ul > li:nth-of-type(1) > button {
    color: var(--color-light);
    font-weight: bold;
}
.reserve__top > ul > li:nth-of-type(2) > button {
    color: var(--color-indigo);
}
.reserve__top > ul > li > button:hover {
    text-decoration: underline;
}
.reserve__way {
    font-size: 1.6rem;
    margin-left: 4.5rem;
}
.reserve__way > div {
    display: flex;
}
.reserve__way > div > input[type="radio"] {
    display: none;
}
.reserve__way > div > input[type="radio"] + label {
    position: relative;
    margin-right: 2.3rem;
    padding: 0.4rem 0.2rem 0.9rem;
    box-sizing: border-box;
    color: var(--color-darkGray);
    border-radius: 0.3rem;
}
.reserve__way > div > input[type="radio"]:checked + label {
    color: var(--color-indigo);
    font-weight: bold;
}
.reserve__way > div > input[type="radio"]:checked + label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #de001b;
    border-radius: 0.2rem;
}
.reserve__way > div > div {
    line-height: 24px;
}
.reserve__way > div > div > a {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 1.5rem 0 0.2rem ;
    box-sizing: border-box;
    color: var(--color-darkGray);
    border-radius: 0.3rem;
}
.reserve__way > div > div > a::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 30%;
    width: 0.6rem;
    height: 0.6rem;
    border-left: 1px solid var(--color-darkGray);
    border-bottom: 1px solid var(--color-darkGray);
    transform: rotate(225deg);
    vertical-align: middle;
}

/* con1 reserve bottom */
.reserve__bottom > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.reserve__bottom > div > ul {
    display: flex;
}
.re__bottom_lf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    text-align: center;
}
.re__bottom_lf > li:nth-of-type(1),
.re__bottom_lf > li:nth-of-type(3) {
    min-width: 10rem;
    padding: 1rem 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    cursor: pointer;
}
.re__bottom_lf > li:nth-of-type(2) {
    width: 20%;
}
.re__bottom_lf > li > span {
    display: block;
}
.re__bottom_lf > li > span:first-of-type {
    margin-bottom: 1rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-lightGray);
}
.re__bottom_lf > li > span:last-of-type {
    font-size: 1.6rem;
}
.re__bottom_lf > li:nth-of-type(2) > button {
    display: block;
    width: 4.2rem;
    height: 4.2rem;
    margin: 0 auto;
    background: url('../images/icon/booking_swap.svg')center center no-repeat;
    background-size: cover;
    outline: none;
    border: none;
    cursor: not-allowed;
}
.re__bottom_rt {
    width: 77%;
}
.re__bottom_rt > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.re__bottom_rt > ul > li:nth-of-type(1) {
    width: 36rem;
}
.re__bottom_rt > ul > li:nth-of-type(2),
.re__bottom_rt > ul > li:nth-of-type(3) {
    width: 18rem;
}
.re__bottom_rt > ul > li:nth-of-type(4){
    margin-right: 0;
} 
.re__bottom_rt > ul > li > p{
    padding: 1rem 0;
    box-sizing: border-box;
    color: var(--color-lightgray);
    font-size: 1.4rem;
}
.re__bottom_rt > ul > li > button {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    text-align: start;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-black);
    cursor: pointer;
}
.re__bottom_rt > ul > li:nth-of-type(1) > button {
    padding: 0.8rem 0;
    box-sizing: border-box;
}
.select_date {
    font-size: 1.6rem;
    color: var(--color-lightGray);
    transition: all .2s ease-in;
}
.re__bottom_rt > ul > li:nth-of-type(2) .select_date {
    color: var(--color-dark);
    font-weight: bold;
}
.re__bottom_rt > ul > li:nth-of-type(1) .select_date::before {
    content: "";
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/icon/quick__calendar.svg")center center no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.re__bottom_rt > ul > li:nth-of-type(2) > button::after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/icon/quick__passenger.svg")center center no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.re__bottom_rt > ul > li:nth-of-type(3) > button::after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/icon/quick__seatclass.svg")center center no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.re__bottom_rt > ul > li:nth-of-type(4) > button {
    padding: 1.4rem 2rem;
    box-sizing: border-box;
    margin-top: 3rem;
    background-color: var(--color-indigo);
    color: var(--color-light);
    border-radius: 1rem;
    font-size: 1.6rem;
}
.re__bottom_rt > ul > li:hover .select_date {
    padding-left: 1rem;
}

/* con contents */
.con__inner {
    margin: 2.7rem 0 0;
}
.con__inner > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con__inner > ul > li {
    white-space: nowrap;
    word-break:break-all;
    transition: all 0.2s ease-in;
}
.con__inner > ul > li:nth-of-type(1){
    width: 27%;
}
.con__inner > ul > li:nth-of-type(2){
    width: 21%;
}
.con__inner > ul > li:nth-of-type(3),
.con__inner > ul > li:nth-of-type(4) {
    width: 15%;
} 
.con__inner > ul > li:nth-of-type(5) {
    width: 10%;
}
.con__inner > ul > li > p {
    padding: 1rem 0;
    box-sizing: border-box;
    text-align: start;
    color: var(--color-lightgray);
    font-size: 1.4rem;
}
.con__inner > ul > li:nth-of-type(2) > p {
    padding: 1rem 0 1.2rem 0;
}
.con__inner > ul > li input,
.con__inner > ul > li:nth-of-type(2) button {
    width: 100%;
    height: 4.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid var(--color-lightGray);
    transition: all 0.2s ease-in;
}
.con__inner > ul > li:nth-of-type(2) button {
    position: relative;
    cursor: pointer;
}
.con__inner > ul > li:nth-of-type(2) button::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/icon/quick__calendar.svg")center center no-repeat;
    background-size: cover;
    transition: all .2s ease-in;
}
.con__inner > ul > li:nth-of-type(2):hover button::before {
    left: 1rem;
}
.con__inner > ul > li input::placeholder {
    font-size: 1.6rem;
}
.con__inner > ul > li:nth-of-type(5) > button {
    width: 100%;
    padding: 1.2rem 0;
    box-sizing: border-box;
    margin-top: 3rem;
    background-color: var(--color-indigo);
    color: var(--color-light);
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
} 
/* con3 select 부분 */
.forms {
    width: 100%;
    border-bottom: 0.1rem solid var(--color-lightGray);
}
.forms > select {
    width: 100%;
    height: 4.3rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-dark);
    transition: all 0.2s ease-in;
    appearance: none;
    background: url("../images/icon/select.svg")right center no-repeat;
}
.forms:hover > select {
    padding: 0 0 0 1rem;
    box-sizing: border-box;
    background-position: calc(100% - 1rem) center;
}
/* caption */
.caption {
    padding: 0.9rem 13.28% 0 54%;
    box-sizing: border-box;
}
.caption > p {
    font-size: 1.2rem;
    color: var(--color-darkGray);
}
.caption > p::before {
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.4rem;
    background: url("../images/icon/caption.svg")center center no-repeat;
    background-size: cover;
    vertical-align: -0.3rem;
}
/* con4 */
.con4__re_bottom_rt {
    width: 80%;
    margin-left: 3rem;
    border: 1px solid red;
}
.con4__re_bottom_rt > p {
    padding: 1rem 0;
    box-sizing: border-box;
    color: var(--color-lightgray);
    font-size: 1.4rem;
}
.con4Date {
    font-weight: bold;
    color: var(--color-dark);
}

/* banner 영역 hover */
.reserve__way > div > input[type="radio"] + label:hover,
.reserve__way > div > div > a:hover,
.re__bottom_lf > li:nth-of-type(1):hover,
.re__bottom_lf > li:nth-of-type(3):hover,
.re__bottom_rt > ul > li:hover > button,
.con__inner > ul > li:hover input,
.con__inner > ul > li:nth-of-type(2):hover button,
.forms:hover > select  {
    box-shadow: inset 0 0 0 1px var(--color-blue);
}

.re__bottom_rt > ul > li:nth-of-type(4):hover > button,
.con__inner > ul > li:nth-of-type(5):hover > button {
    box-shadow: 0 0 0 0.2rem var(--color-light), 0 0 0 0.3rem var(--color-blue);
}

/* section slide */
#slide {
    width: 100%;
    padding: 9rem 0;
    box-sizing: border-box;
    background-color: var(--color-light)
}
#slide .slide__inner {
    max-width: 128rem;
    min-height: 32.7rem;
    margin: 0 auto;
    overflow: hidden;
}
.swiper-wrapper {
    position: relative;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 32.7rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}
.swiper-slide div {
    overflow: hidden;
}
.swiper-slide div > img {
    width: 100%;
    transition: all .4s;
    vertical-align: top;
}
.swiper-slide p {
    min-height: 9.7rem;
    padding: 2rem 3rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.56;
    word-break: keep-all;
}
.swiper-slide:hover div > img {
    transform: scale(1.2);
}
.swiper-slide:hover p {
    text-decoration: underline;
}
/* button-prev,next */
.swiper-button-prev {
    position: absolute;
    left: -3rem;
    top: 8rem;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(0,0,0,.5);
}
.swiper-button-prev > i {
    font-size: 1.7rem;
    color: var(--color-light);
    transform: translateX(13px);
    transition: all 0.2s ease-in;
}
.swiper-button-next > i {
    font-size: 1.7rem;
    color: var(--color-light);
    transform: translateX(-13px);
    transition: all 0.2s ease-in;
}
.swiper-button-prev:hover > i,
.swiper-button-next:hover  > i {
    font-size: 2.3rem;
}
.swiper-button-next {
    position: absolute;
    right: -3rem;
    top: 8rem;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(0,0,0,.5);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    cursor: not-allowed;
}
